tensorflow==2.20      # 内置keras数据增强（你现在用的这套）
matplotlib            # 可视化aug样本
pillow                # 图像读写
scikit-learn==1.5.2   # 评估指标
gradio                # 网页部署
numpy
torch == 2.2.0
torchvision == 0.27.1